<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
    <a class="navbar-brand mx-auto text-center" href=""><strong>Secure</strong></a>
</nav>

<nav class="navbar navbar-footer fixed-bottom navbar-light d-flex justify-content-around">
    <a class="nav-link" href="#" id="chatButton" role="button"><span class="material-icons">forum</span></a>
    <a class="nav-link" href="#" id="friendButton" role="button"><span class="material-icons">group</span></a>
    <a class="nav-link" href="#" id="homeButton" role="button"><span class="material-icons">private_connectivity</span></a>
    <a class="nav-link" href="#" id="historicButton" role="button"><span class="material-icons">history</span></a>
    <a class="nav-link" href="#" id="accountButton" role="button"><span class="material-icons">account_circle</span></a>
</nav>